<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Girgis Mamdouh**<br>
Machine Learning / Data Engineer

*I am interested in data science because it contains data refinery , cleaning , formatting , basic understanding and statistical analysis which can be a first step before using ML models and sometimes can be proven enough on its own to make predictions*

### This is just a simple code which initializes a variable and increment it by one

In [1]:
i = 0
i += 1

- Item list
     - first item
     - second item
     
<hr>     

1. Numbered list
     1. item
     2. item

<hr>

__[instructions page](https://www.coursera.org/learn/open-source-tools-for-data-science/ungradedWidget/c1F5I/instructions-create-and-share-your-jupyter-notebook)__

<hr>

<table>
    <tr>
        <td>
            data
        </td>   
        <td>
            data2
        </td> 
        <td>
            data3
        </td> 
    </tr>  
    <tr>
        <td>
            data
        </td>   
        <td>
            data2
        </td> 
        <td>
            data3
        </td> 
    </tr>
</table>